.logo {
  width: 200px;
}
.box{
  width: 50%;
  border: 2px solid black;

}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  background-color: #f9f9f9;
}

.card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.card-info {
  margin: 3px 0;
  color: #333;
}

.container {
  padding: 20px;
}